<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAg2Aiw7MblpTOvy1QU3tL56xt_2mjSSjY</string>
	<key>GCM_SENDER_ID</key>
	<string>894256003373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterproyecto-5919d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproyecto-5919d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894256003373:ios:5660f004494d6917043ba4</string>
</dict>
</plist>